body{
    margin-top: 0px;margin-bottom: 0px;
}

.gazou img{
    width: 25%;margin-left: 10px;
}

.menu{
    float:left;width:100%;height:40px;background-color:black;
}

.menu ul{
    line-height:5px;padding-left:45px;
} 

.menu ul li{
    float:left;list-style:none;padding-right:3%;color:white;font-size:17px;
}

main{
    clear: both;
}

h3{
    margin-left: 40px;font-size: 15px;
}

.nyuuryoku ul{
    width: 500px;
    margin: 0 auto;
}

.nyuuryoku ul li{
    list-style: none;
    
}

.nyuuryoku ul li p label{
    margin-right: 10px;
    width: 150px;
    float: left
}

.nyuuryoku ul li .koumoku label{
    margin-right: 10px;
    width: 150px;
    float: left
}


.nyuuryoku ul li p .seibetsu{
    width: 40px;
    margin-right: 50px;
}

.nyuuryoku p{
    margin-top: 30px;
}

.nyuuryoku p input{
    text-align: center;
}

.button_ichi{
    text-align: center;
}

.button{
    text-align: center;
    margin-top: 20px;margin-bottom: 15px;
    padding: 5px 80px;
}

footer{
    clear:left;width:100%;height:50px;background-color:black;
    bottom:0px;color:white;text-align:center;line-height:50px;
}



.nyuuryoku .button_ichi .button_2pL{
    display: inline-block;
}

.nyuuryoku .button_ichi .button_2pR{
    display: inline-block;
}

.complete{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.mae{
    color: red;
}

.nyuuryoku ul li p .alertarea {
   color: red;                             /* 文字色(赤色) */
   background-color: #fee;                 /* 背景色(淡い赤色) */
   background-image: url("alerticon.png"); /* 背景画像(警告アイコンを表示) */
   background-repeat: no-repeat;           /* 背景画像の繰り返しをナシに */
   background-position: 0.35em center;     /* 背景画像の掲載位置(左端から0.35em・上下方向の中央) */
   display: inline-block;                  /* インラインブロック化 */
   border-radius: 0.5em;                   /* 角丸(半径0.5文字分) */
   margin-left: 0.5em;                     /* 外側左端の余白(0.5文字分) */
   padding: 1px 0.5em 1px 32px;            /* 内側の余白(警告アイコンに重ならないよう左端に多めの余白を設ける) */
}